<div class="question">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>

<div class="answer">
  <% if @question.downcase == "I am going to work".downcase %>
    <p>Great!</p>
    <p><em>-Your Coach</em></p>
  <% elsif @question.end_with?("?")%>
    <p>Silly question, get dressed and go to work!</p>
    <p><em>-Your Coach</em></p>
  <% else %>
    <p>I don't care, get dressed and go to work!</p>
    <p><em>-Your Coach</em></p>
  <% end %>
</div>
